/* Homepage.css */
.homepage-container {
    position: absolute;
    display: flex;
    flex-direction: column;
  }
  
  .top-section {
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-item {
    text-decoration: none;
    color: white;
  }
  
  .title-section {
    margin-top: 7.6%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 7em;
    text-align: center;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    margin-bottom: 0;
    letter-spacing: 2px;
  }
  
  .subtitle {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    font-size: 1em;
    font-weight: bold;
  }
  
  .content-section {
    margin-top: -2%;
    height: 90vh;
    color: white;
    background-color: black;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .text-content {
    width: 50%;
    margin-left: 8%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .image-content {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .image {
    width: 100%;
  }
  
  .description {
    word-spacing: 2px;
  }
  
  .explore-button {
    width: 10em;
    height: 2em;
  }
  